extends ../layout

block content
  - if (messages.error)
    .message.alert.alert-danger.text-center
      span=messages.error
  form.form-signin(action='/changepass' method="post")
    h2.form-signin-heading Change Pasword
    label(for='oldpassword') Old Password
    input.form-control(type='password', name='oldpassword', required='', autofocus='')
    label(for='newpassword') New Password
    input.form-control(type='password', name='newpassword', required='')
    label(for='retypenewpassword') Retype New Password
    input.form-control(type='password', name='retypepassword', required='')

    button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit