doctype html
html(lang='en')
	head
		include meta
		title Pick Your Trail
		include stylesheets
     
	body
		header
			h1.pull
				img(src='/images/pyt.png', height='70px')
				span.pull-right
					a(href="/changepass" style="font-size:14px") Change Password
					&nbsp;&nbsp;
					a(href="/logout" style="font-size:14px") Log Out
			ul.nav.nav-pills
				li(style='margin-left:-15px')
					a(id="user-tab" href="/users/list") 
						strong Users
				li
					a(id="trip-tab" href="/trips/list") 
						strong Trips	
			
		#content
			block content
	script(src="/javascripts/sorttable.js")		
	script(type='text/javascript').
		var route = location.pathname.split("/")[1];
		var userTab = document.getElementById('user-tab');
		var tripTab = document.getElementById('trip-tab');
		userTab.className="";
		tripTab.className="";
		if(route==="users"){
			userTab.className += ' active';
		}else{
			tripTab.className += ' active';
		}