doctype html
html(lang='en')
	head
		include meta
		title Pick Your Trail
		include stylesheets
     
	body
		header
			h1.pull
				img(src='/images/pyt.png', height='70px')

		#content
			block content
